<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/park.html}">
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <!--
        Home Slider
        ==================================== -->
    <section id="home">
        <div id="home-carousel" class="carousel slide" data-interval="false">
            <ol class="carousel-indicators">
                <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#home-carousel" data-slide-to="1"></li>
                <li data-target="#home-carousel" data-slide-to="2"></li>
            </ol>
            <!--/.carousel-indicators-->

            <div class="carousel-inner">

                <div class="item active"  style="background-image: url('/img/slider/bg2.jpg')" >
                    <div class="carousel-caption">
                        <div class="animated bounceInRight">
                            <h2>HELLO WORLD! <br>WE ARE KASPER,WE MAKE ART.</h2>
                            <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam. Accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
                        </div>
                    </div>
                </div>

                <div class="item" style="background-image: url('/img/slider/bg2.jpg')">
                    <div class="carousel-caption">
                        <div class="animated bounceInDown">
                            <h2>HELLO WORLD! <br>WE ARE KASPER,WE MAKE ART.</h2>
                            <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam. Accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
                        </div>
                    </div>
                </div>

                <div class="item" style="background-image: url('/img/slider/bg3.jpg')">
                    <div class="carousel-caption">
                        <div class="animated bounceInUp">
                            <h2>HELLO WORLD! <br>WE ARE KASPER,WE MAKE ART.</h2>
                            <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam. Accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.carousel-inner-->
            <nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
                <a class="sl-prev hidden-xs" href="#home-carousel" data-slide="prev">
                    <i class="fa fa-angle-left fa-3x"></i>
                </a>
                <a class="sl-next" href="#home-carousel" data-slide="next">
                    <i class="fa fa-angle-right fa-3x"></i>
                </a>
            </nav>

        </div>
    </section>
    <!--
    End #home Slider
    ========================== -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="section-title text-center wow fadeInDown">
                    <h2>Contact Us</h2>
                    <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
                </div>

                <div class="col-md-8 col-sm-9 wow fadeInLeft">
                    <div class="contact-form clearfix">
                        <form action="index.html" method="post">
                            <div class="input-field">
                                <input type="text" class="form-control" name="name" placeholder="Your Name" required="">
                            </div>
                            <div class="input-field">
                                <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                            </div>
                            <div class="input-field message">
                                <textarea name="message" class="form-control" placeholder="Your Message" required></textarea>
                            </div>
                            <input type="submit" class="btn btn-blue pull-right" value="SEND MESSAGE" id="msg-submit">
                        </form>
                    </div> <!-- end .contact-form -->
                </div> <!-- .col-md-8 -->

                <div class="col-md-4 col-sm-3 wow fadeInRight">
                    <div class="contact-details">
                        <span>GET IN TOUCH</span>
                        <p>+00 123.456.789 <br> <br> +00 123.456.789</p>
                    </div> <!-- end .contact-details -->

                    <div class="contact-details">
                        <span>GET IN TOUCH</span>
                        <p>+00 123.456.789 <br> <br> +00 123.456.789</p>
                    </div> <!-- end .contact-details -->
                </div> <!-- .col-md-4 -->
            </div>
        </div>
    </section>
</div>
<script layout:fragment="script" th:inline="javascript">
</script>
</body>
</html>