<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/park.html}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<div layout:fragment="content">
    <!-- Contact section-->
    <section class="bg-light py-5">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">회원가입</h2>
                <p class="lead mb-0">회원정보를 입력해 주세요.</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <form name="registerForm" action="/member/register" method="post">
                        <p class="lead mb-0">필수 입력 정보</p>
                        <hr>
                        <!-- 이메일주소 input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email_id" name="email_id" type="email" placeholder="name@example.com"/>
                            <label for="email_id">이메일 ID</label>
                            <span class="form-check" id="email_id-span" name="email_id-span" style="display: none"/>
                        </div>
                        <a href="#" id="eSubmit" style="text-decoration: none; color: darkred">인증코드 발송</a>

                        <!-- 이메일주소 인증확인-->
                        <div class="form-floating mb-3" name="emCheck" style="display: none">
                            <input class="form-control" id="emailConfirm" name="emailConfirm" type="text"/>
                            <label for="emailConfirm" >이메일 인증키 중복확인</label>
                            <span class="form-check" id="emailConfirm-span" name="emailConfirm-span" style="display: none"/>
                        </div>

                        <!-- 비밀번호 input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="password" name="password" type="password"
                                   placeholder="비밀번호를 입력하세요..."/>
                            <label for="password">비밀번호</label>
                            <span class="form-check" id="password-span" name="password-span" style="display: none"/>
                        </div>

                        <!-- 비밀번호 확인 input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="passwordConfirm" name="passwordConfirm" type="password"
                                   placeholder="비밀번호 확인을 입력하세요..."/>
                            <label for="passwordConfirm">비밀번호 확인</label>
                            <span class="form-check" id="passwordRE-span" name="passwordRE-span" style="display: none"/>
                        </div>

                        <!-- 닉네임 input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="nickName" name="nickName" type="text"
                                   placeholder="닉네임을 입력하세요..."/>
                            <label for="nickName">닉네임</label>
                            <span class="form-check" id="nickName-span" name="nickName-span" style="display: none"/>
                        </div>

                        <!-- 이름 input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="member_name" name="member_name" type="text"
                                   placeholder="이름을 입력하세요..."/>
                            <label for="member_name">이름</label>
                            <span class="form-check" id="name-span" name="name-span" style="display: none"/>
                        </div>

                        <!-- 핸드폰번호 input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="phone" name="phone" type="tel"
                                   placeholder="휴대폰 번호를 입력하세요..."/>
                            <label for="phone">휴대폰 번호</label>
                            <span class="form-check" id="phone-span" name="phone-span" style="display: none"/>
                        </div>

                        <!-- 생년월일 input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="birthday" name="birthday" type="date"
                                   placeholder="생년월일을 입력하세요..."/>
                            <label for="birthday">생년월일</label>
                        </div>

                        <!-- 프로필 이미지 input-->
                        <div class="form-floating mb-3">
                            <div class="uploadHidden">
                                <input class="btn btn-info btn-add" id="profileImg" name="profileImg" value="프로필 사진 추가"/>
                            </div>
                        </div>

                        <!-- 첨부 파일 섬네일을 보여줄 부분 -->
                        <div class="row mt-3">
                            <div class="col">
                                <div class="container-fluid d-flex uploadResult" style="flex-wrap: wrap;">
                                </div>
                            </div>
                        </div>

                        <div class="d-grid">
                            <input class="btn btn-primary btn-submit" name="confirmBtn" value=" 회원가입 " readonly>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- 첨부 파일 추가를 위한 모달창 -->
        <div class="modal uploadModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Upload FIle</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <input type="file" name="files" class="form-control" multiple> <!--multiple 을 이용해서 파일 여러개 선택 가능 -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary uploadBtn">Upload</button>
                        <button type="button" class="btn btn-outline-dark closeUploadBtn">Close</button>
                    </div>
                </div>
            </div>
        </div> <!-- register modal -->
    </section>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> <!-- axios 비동기 통신 스크립트 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/member/register.js"></script>
    <script src="/js/member/upload.js"></script>
</div>
<script layout:fragment="script" th:inline="javascript">

    const xhr = new XMLHttpRequest(); // ajax 쓰겠다는 코드
    const confirmCheck = {em: false, emCk: false, pw: false, pwRe: false, name: false, nick: false, ph: false};
    const btnSubmit = document.querySelector('.btn-submit');
    const frmAdd = document.querySelector('form[name=registerForm]')
    const inputTags = document.getElementsByTagName('input');
    const passwd = document.querySelector("input[name=password]");
    const passwdRe = document.querySelector("input[name=passwordConfirm]");
    const nickName = document.querySelector("input[name=nickName]");
    const member = document.querySelector("input[name=member_name]");
    const phone = document.querySelector("input[name=phone]");
    const eSubmit = document.querySelector("#eSubmit");
    const email_id = document.querySelector("input[name=email_id]");
    const emailSpan = document.querySelector("span[name=email_id-span]");
    const emailConfirm = document.querySelector("input[name=emailConfirm]");
    const emailConfirmSpan = document.querySelector("span[name=emailConfirm-span]");
    const emCheck = document.querySelector("div[name=emCheck]");

    const checkNick = /^[a-zA-Z0-9ㄱ-ㅎㅏ-ㅣ가-힣]+$/;
    const checkSpace = /\s/g;
    const checkPW =  /^(?=.*[a-zA-Z])(?=.*[!@#$%^~*+=-])(?=.*[0-9]).{8,15}$/;
    const emailPattern = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}/;
    const phonePattern = /^(?:82|0)(1(0|1|6|7|8|9))(\d{3,4})(\d{4})(.*)$/;
    let isConfirmKey = "false";


    // 최종 회원가입
    btnSubmit.addEventListener('click', function (e) {

        console.log("confirm_check" + confirm_check())
        if(confirm_check()){

            // 1. 섬네일 영역에서 img 태그의 data-src 속성을 들고옴
            const uploadFiles = uploadResult.querySelectorAll('img');
            let str = '';
            for (let i = 0; i < uploadFiles.length; i++) {
                const uploadFile= uploadFiles[i];
                const imgLink = uploadFile.getAttribute('data-src');

                str += `<input type='hidden' name='profileImg' value="${imgLink}">`;
            }

            // 2. ADD Files 버튼 영역에 태그 추가
            const target = document.querySelector('.uploadHidden'); // ADD File 버튼 영역
            target.innerHTML = str;
            frmAdd.submit();

        } else {
            alert("비어있는 항목이 있습니다.");
            return;
        }
    });

    function confirm_check(){
        console.log(confirmCheck);
        for(const key in confirmCheck) {
            if (confirmCheck[key]) {
                return true;
            }
            else {
                return false;
            }
        }
    }


    // 이메일 중복확인
    email_id.addEventListener('input', function () {
        console.log(email_id.value);
        let emailId = email_id.value;
        if (email_id.value.length === 0) emailId = "null";
        isConfirmEmail_id(emailId).then( m => {
            console.log(m);
            isEmailConfirm(m);
        }).catch(m => {
            console.log(m);
        })

        function isEmailConfirm(emailId) { // false
            console.log(email_id.value)
            console.log(emailSpan)
            if (emailId === true) {
                console.log("이메일 중복확인" + emailId)
                emailSpan.innerHTML = "사용중인 이메일 입니다.";
                emailSpan.style.color = "red";
                emailSpan.style.display = 'block';
            }
            else if (email_id.value === "") {
                emailSpan.innerHTML = "필수 정보 입니다.";
                emailSpan.style.color = "red";
                emailSpan.style.display = 'block';
            }
            else if (!emailPattern.test(email_id.value)){
                console.log("이메일 형식확인")
                emailSpan.innerHTML = "이메일 형식에 맞지 않습니다.";
                emailSpan.style.color = "red";
                emailSpan.style.display = 'block';
            }
            else if (emailId === false) {
                emailSpan.innerHTML = "사용 가능한 이메일 입니다.";
                emailSpan.style.color = "green";
                emailSpan.style.display = 'block';
                confirmCheck.em = true;
            }
        }
    });
    eSubmit.addEventListener('click', function () {
        console.log("eSubmit");
        // isConfirmEmail (= mailTo )
        confirmCheck.em = false;

        if (email_id.value === "") {
            emailSpan.innerHTML = "필수 정보 입니다.";
            emailSpan.style.color = "red";
            emailSpan.style.display = 'block';
        } else {
            isConfirmEmail(email_id.value).then( r => {
                isConfirmKey = r;
                console.log(isConfirmKey);
            }).catch(e => {
                console.log(e);
            }) // false 또는 confirmkey
            emCheck.style.display = 'block';
            confirmCheck.em = true;
        }
    })

    emailConfirm.addEventListener('focusout', function () {
        confirmCheck.emCk = false;
        if (emailConfirm.value === "") {
            emailConfirmSpan.innerHTML = "필수 정보 입니다.";
            emailConfirmSpan.style.color = "red";
            emailConfirmSpan.style.display = 'block';
        } else if (emailConfirm.value !== isConfirmKey) {
            emailConfirmSpan.innerHTML = "인증키가 일치하지 않습니다.";
            emailConfirmSpan.style.color = "red";
            emailConfirmSpan.style.display = 'block';
        } else if (emailConfirm.value === isConfirmKey) {
            emailConfirmSpan.innerHTML = "인증이 확인 되었습니다.";
            emailConfirmSpan.style.color = "green";
            emailConfirmSpan.style.display = 'block';
            confirmCheck.emCk = true;
        }
    })

    // 휴대폰 검사
    phone.addEventListener('input', function () {

        // 휴대전화 포맷 처리
        function fncSetPhoneFormat(s) {
            return String(s).replace(/[^0-9]/g, "").replace(/^(?:82|0)(1(0|1|6|7|8|9))(\d{3,4})(\d{4})(.*)$/, "0$1-$3-$4");
        }

        const phoneSpan = document.querySelector("span[name=phone-span]")

        confirmCheck.ph = false;

        if (phone.value === "") {
            phoneSpan.innerHTML = "필수 정보 입니다."
            phoneSpan.style.color = "red";
            phoneSpan.style.display = 'block';
        } else if (phone.value.replace(/[^0-9]/g, "").length < 10) {
            phoneSpan.innerHTML = "올바르지 않은 휴대폰 형식입니다."
            phoneSpan.style.color = "red";
            phoneSpan.style.display = 'block';
        }
        else  {
            phoneSpan.innerHTML = "사용 가능한 번호 입니다."
            phoneSpan.style.color = "green";
            phoneSpan.style.display = 'block';
            confirmCheck.ph = true;
            phone.value = fncSetPhoneFormat(phone.value);
        }
    })

    // 이름 검사
    member.addEventListener('input', function () {
        const nameSpan = document.querySelector("span[name=name-span]")
        confirmCheck.name = false;

        if (member.value === "") {
            nameSpan.innerHTML = "필수 정보 입니다."
            nameSpan.style.color = "red";
            nameSpan.style.display = 'block';
        }
        else if(checkSpace.test(member.value)){
            nameSpan.innerHTML = "공백을 제거해주세요";
            nameSpan.style.color = "red";
            nameSpan.style.display = 'block';
        }
        else if(!checkNick.test(member.value)){
            nameSpan.innerHTML = "특수문자는 사용이 불가능 합니다";
            nameSpan.style.color = "red";
            nameSpan.style.display = 'block';
        }
        else if (member.value.length < 2 || member.value.length > 10){
            nameSpan.innerHTML = "2 ~ 10자로 입력해주세요"
            nameSpan.style.color = "red";
            nameSpan.style.display = 'block';
        }
        else {
            nameSpan.innerHTML = "사용 가능한 이름입니다.";
            nameSpan.style.color = "green";
            nameSpan.style.display = 'block';
            confirmCheck.name = true;
        }
    })

    //닉네임 유효성 검사
    nickName.addEventListener('input', function () {
        const nickSpan = document.querySelector("span[name=nickName-span]")

        confirmCheck.nick = false;

        if (nickName.value === "") {
            nickSpan.innerHTML = "필수 정보 입니다."
            nickSpan.style.color = "red";
            nickSpan.style.display = 'block';
        }
        else if(checkSpace.test(nickName.value)){
            nickSpan.innerHTML = "공백을 제거해주세요";
            nickSpan.style.color = "red";
            nickSpan.style.display = 'block';
        }
        else if(!checkNick.test(nickName.value)){
            nickSpan.innerHTML = "특수문자는 사용이 불가능 합니다";
            nickSpan.style.color = "red";
            nickSpan.style.display = 'block';
        }
        else if (nickName.value.length < 2 || nickName.value.length > 10){
            nickSpan.innerHTML = "2 ~ 10자로 입력해주세요"
            nickSpan.style.color = "red";
            nickSpan.style.display = 'block';
        }
        else {
            console.log("-----------------check 화ㄱ-------------------")
            xhr.open('GET', '/member_rest/nickCheck/' + nickName.value);
            xhr.send();
            xhr.onreadystatechange = () => {
                if (xhr.readyState !== XMLHttpRequest.DONE)
                    return;

                if (xhr.status === 200) {
                    console.log(xhr.response);
                    const json = JSON.parse(xhr.response);
                    if (json.result === 'true') {
                        nickSpan.innerHTML = "이미 있는 닉네임 입니다";
                        nickSpan.style.color = "red";
                        nickSpan.style.display = 'block';
                    }
                    else {
                        nickSpan.innerHTML = "사용 가능한 닉네임 입니다.";
                        nickSpan.style.color = "green";
                        nickSpan.style.display = 'block';
                        confirmCheck.nick = true;
                    }
                } else {
                    console.error(xhr.status, xhr.statusText);
                }
            }
        }

    })

    // 비밀번호 유효성 검사
    passwd.addEventListener('input', function() {
        const warnPW = document.querySelector("span[name=password-span]")
        // const pwCheckIcon = document.querySelector('#passwordConfirm-span')

        confirmCheck.pw = false;

        console.log("input 실행됨")

        if(passwd.value === ""){
            console.log("공백 확인됨" + passwd)
            warnPW.innerHTML = "필수 정보입니다.";
            warnPW.style.color = "red";
            warnPW.style.display = 'block';
        }
        else if(!checkPW.test(passwd.value) || checkSpace.test(passwd.value)){
            warnPW.innerHTML = "띄어쓰기 없는 8~15자의 영문 대/소문자, 숫자 또는 특수문자 조합으로 입력하셔야 합니다.";
            warnPW.style.color = "red";
            warnPW.style.display = 'block';
        }
        else{
            console.log("비밀번호 사용가능 확인")
            warnPW.innerHTML = "사용 가능한 비밀번호 입니다.";
            warnPW.style.color = "green";
            warnPW.style.display = 'block';
            confirmCheck.pw = true;
        }

        const warnPE = document.querySelector("span[name=passwordRE-span]")

        confirmCheck.pwRe = false;

        if (passwdRe.value !== passwd.value) {
            warnPE.innerHTML = "비밀번호가 일치하지 않습니다.";
            warnPE.style.color = "red";
            warnPE.style.display = 'block';

        } else if (passwdRe.value === "") {
            warnPE.innerHTML = "필수 정보 입니다.";
            warnPE.style.color = "red";
            warnPE.style.display = 'block';

        } else {
            console.log("비밀번호 일치 확인")
            warnPE.innerHTML = "비밀번호가 일치 합니다.";
            warnPE.style.color = "green";
            warnPE.style.display = 'block';
            confirmCheck.pwRe = true;
        }
    });

    passwdRe.addEventListener('input', function () {
        console.log("passwdRe focusout")
        const warnPE = document.querySelector("span[name=passwordRE-span]")

        confirmCheck.pwRe = false;

        if (passwdRe.value !== passwd.value) {
            warnPE.innerHTML = "비밀번호가 일치하지 않습니다.";
            warnPE.style.color = "red";
            warnPE.style.display = 'block';

        } else if (passwdRe.value === "") {
            warnPE.innerHTML = "필수 정보 입니다.";
            warnPE.style.color = "red";
            warnPE.style.display = 'block';

        } else {
            console.log("비밀번호 일치 확인")
            warnPE.innerHTML = "비밀번호가 일치 합니다.";
            warnPE.style.color = "green";
            warnPE.style.display = 'block';
            confirmCheck.pwRe = true;
        }
    });

    // 업로드 모달
    const uploadModal = new bootstrap.Modal(document.querySelector('.uploadModal'));

    document.querySelector('input[name=profileImg]').addEventListener('click', function (e) {
        e.stopPropagation();
        e.preventDefault();
        uploadModal.show();
    });

    // 모달창 업로드 버튼 이벤트 처리
    document.querySelector('.uploadBtn').addEventListener('click', function (e) {
        const formObj = new FormData(); // ajax
        const fileInput = document.querySelector("input[name='files']");
        console.log(fileInput.files);
        const files = fileInput.files;
        for (let i = 0; i < files.length; i++) {
            formObj.append("files", files[i]);
        }
        uploadToServer(formObj).then(result => {
            console.log(result);
            for (const uploadResult of result) {
                showUploadFile(uploadResult);
            }
            uploadModal.hide();
        }).catch(e => {
            uploadModal.hide();
        })
    });
    // 업로드된 이미지의 섬네일을 보여줌
    const uploadResult = document.querySelector('.uploadResult');
    function showUploadFile({uuid, fileName, link}) {
        const str = `<div class="card col-4">
          <div class="card-header d-flex justify-content-center">
            <button type="button" class="btn-sm btn-primary" onclick="javascript:removeFile('${uuid}', '${fileName}', this)">X</button>
          </div>
          <div class="card-body">
                <img src="/view/${link}" data-src="${uuid+"_"+fileName}">
          </div>
        </div>`;
        uploadResult.innerHTML += str;
    }

    // 파일 삭제 처리
    function removeFile(uuid, fileName, obj) {
        console.log(uuid);
        console.log(fileName);
        console.log(obj);

        const targetDiv = obj.closest('.card'); // 그 버튼을 가지고 있는 카드를 삭제함

        removeFileToServer(uuid, fileName).then(data => {
            targetDiv.remove();
        })
    }




</script>
</body>
</html>