<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/park.html}">
<head>
    <meta charset="UTF-8">
    <title>회원정보</title>
    <style>
        /* 각 셀에 호버 효과 추가 */
        tr.management:hover {
            background-color: #d9d4d5;
            cursor: pointer; /* 마우스 커서를 포인터로 변경하여 클릭 가능한 것처럼 보이게 함 */
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="row my-xl-5">
        <div class="col col-xl-12">
            <div class="card">
                <div class="card-header" align="center">
                    <h3 style="margin-top: 20px;"><b>회원 정보</b></h3>
                </div>
                <div class="card-body" >
                    <table class="table" style="text-align: center">
                        <thead>
                        <tr>
                            <th scope="col">아이디</th>
                            <th scope="col">이름</th>
                            <th scope="col">탈퇴 신청 날짜</th>
                            <th scope="col">탈퇴 처리 날짜</th>
                            <th scope="col">상태</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="memberDTO : ${memberDTO}" class="tr management">
                                <td> <a th:href="|@{/admin/member/page/profile(mno =${memberDTO.mno})}|"
                                    th:text="${memberDTO.email_id}"/>
                                </td>
                                <td th:text="${memberDTO.member_name}"></td>
                                <td th:text="${#temporals.format(memberDTO.requestDate, 'yyyy-MM-dd')}"></td>
                                <td th:text="${#temporals.format(memberDTO.removeDate, 'yyyy-MM-dd')}"></td>
                                <td th:text="${memberDTO.del}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">

    /* table에서 tr 클릭 이벤트 관련  */
    $(document).ready(function() {
        // 각 리뷰 행을 클릭했을 때 해당 링크로 이동하는 이벤트 핸들러
        $('.management').on('click', function() {
            let link = $(this).find('a').attr('href');
            window.location.href = link;
        });
    });
</script>
</body>
</html>