<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smartparkpj.mapper.ConvenienceMapper">
    <insert id="addConvenience" parameterType="com.example.smartparkpj.domain.ConvenienceVO" useGeneratedKeys="true" keyProperty="cno">
        INSERT INTO convenience (name, con_info, con_guide, con_tel, con_img)
        VALUES (#{name}, #{con_info}, #{con_guide}, #{con_tel}, #{con_img})
    </insert>

    <select id="getOne" resultType="com.example.smartparkpj.domain.ConvenienceVO">
        SELECT * FROM convenience where cno = #{facility_no}
    </select>

    <update id="editConvenience">
        UPDATE convenience SET name = #{name}, con_info = #{con_info}, con_guide = #{con_guide}, con_tel = #{con_tel},
                               con_img = #{con_img}
        WHERE cno = #{cno}
    </update>

    <delete id="removeConvenience">
        DELETE FROM convenience WHERE cno = #{cno}
    </delete>

    <update id="updateScore">
        UPDATE convenience SET avgScore = #{avgScore} WHERE cno = #{cno}
    </update>

</mapper>