<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smartparkpj.mapper.InquiryMapper">

    <insert id="addInquiry" parameterType="com.example.smartparkpj.domain.InquiryVO">
        INSERT INTO inquiry (title, content, mno, `state`, nickName, in_addDate)
        VALUES (#{title}, #{content}, #{mno}, #{state},
                (SELECT nickName FROM member WHERE mno = #{mno}),
                now())
    </insert>

    <select id="selectAll" parameterType="com.example.smartparkpj.domain.InquiryVO">
        SELECT * FROM inquiry WHERE mno = #{mno} ORDER BY in_addDate DESC
    </select>

    <select id="selectOne" parameterType="com.example.smartparkpj.domain.InquiryVO">
        SELECT * FROM inquiry WHERE ino = #{ino}
    </select>

    <select id="selectFormattedDate" resultType="java.util.Date">
        SELECT DATE_FORMAT(in_addDate, '%Y-%m-%d') AS formatted_date FROM inquiry
    </select>

    <select id="selectGetRead" parameterType="com.example.smartparkpj.domain.InquiryVO">
        SELECT * FROM inquiry WHERE mno = #{mno} AND ino = #{ino}
    </select>

    <update id="updateInquiry">
        UPDATE inquiry SET title = #{title}, content = #{content} WHERE ino = #{ino}
    </update>

    <delete id="deleteInquiry" parameterType="com.example.smartparkpj.domain.InquiryVO">
        DELETE FROM inquiry WHERE ino = #{ino}
    </delete>

    <select id="adminInquiryList" parameterType="com.example.smartparkpj.domain.InquiryVO">
        SELECT * FROM inquiry ORDER BY `state` ASC, in_addDate ASC
    </select>

    <update id="adminAnswer">
        UPDATE inquiry SET answer_addDate = now(), `state`= 1, answer = #{answer} WHERE ino = #{ino}
    </update>

    <delete id="adminInquiryDelete" parameterType="com.example.smartparkpj.domain.InquiryVO">
        DELETE FROM inquiry WHERE ino = #{ino}
    </delete>

</mapper>