<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smartparkpj.mapper.MarkerMapper">
    <insert id="addMarker" parameterType="com.example.smartparkpj.domain.MarkerVO" useGeneratedKeys="true" keyProperty="marker_no">
        INSERT INTO marker (latitude, longitude, type, facility_no, marker_img) VALUES (#{latitude},#{longitude},#{type},#{facility_no}, #{marker_img})
    </insert>

    <select id="getMarkerList" resultType="com.example.smartparkpj.domain.MarkerVO">
        SELECT * FROM marker
    </select>
</mapper>