<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smartparkpj.mapper.MarkerMapper">
    <insert id="addMarker" parameterType="com.example.smartparkpj.domain.MarkerVO" useGeneratedKeys="true" keyProperty="marker_no">
        INSERT INTO marker (latitude, longitude, type, facility_no) VALUES (#{latitude},#{longitude},#{type},#{facility_no})
    </insert>

    <select id="getMarkerList" resultType="com.example.smartparkpj.domain.MarkerVO">
        SELECT * FROM marker
    </select>

    <update id="editMarker">
        UPDATE marker SET latitude = #{latitude}, longitude = #{longitude} WHERE marker_no = #{marker_no}
    </update>

    <delete id="removeMarker">
        delete from marker where marker_no = #{marker_no}
    </delete>
</mapper>