<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smartparkpj.mapper.MemberMapper">

    <insert id="register" parameterType="com.example.smartparkpj.domain.MemberVO" useGeneratedKeys="true" keyProperty="mno">
        INSERT INTO member (email_id, password, nickName, member_name, phone, addDate, birthday, profileImg)
        VALUES (#{email_id}, #{password}, #{nickName}, #{member_name}, #{phone}, now(), #{birthday}, #{profileImg})
    </insert>

    <insert id="addMember" parameterType="com.example.smartparkpj.domain.MemberVO" useGeneratedKeys="true" keyProperty="mno">
        INSERT INTO member (email_id, password, nickName, member_name, phone, addDate, birthday, profileImg)
        VALUES (#{email_id}, #{password}, #{nickName}, #{member_name}, #{phone}, now(), #{birthday}, #{profileImg})
    </insert>

    <insert id="addMemberRole">
        INSERT INTO member_role_set (member_mid, role_set)
        VALUES (#{member_mid}, #{role_set})
    </insert>
    
    <select id="emailCheck" resultType="int">
        SELECT COUNT(*) FROM member WHERE email_id = #{email_id}
    </select>

    <select id="nickCheck" resultType="int">
        SELECT COUNT(*) FROM member WHERE nickName = #{nickName}
    </select>

    <select id="selectMember" resultType="com.example.smartparkpj.domain.MemberVO">
        SELECT * FROM member WHERE email_id = #{email_id}
    </select>

    <update id="update">
        UPDATE member SET nickName = #{nickName}, phone = #{phone}, password = #{password}, profileImg = #{profileImg} WHERE email_id = #{email_id}
    </update>
    
    <select id="selectRoles" resultType="int">
        select role_set FROM member_role_set WHERE member_mid = #{member}
    </select>
    
    <update id="deleteReason">
        UPDATE member SET del = "탈퇴신청",  deleteReason = #{deleteReason}, requestDate = now() WHERE email_id = #{email_id}
    </update>

    <update id="passwordEdit">
        UPDATE member SET password = #{password} WHERE email_id = #{email_id}
    </update>
    
<!--    <select id="selectAll" resultType="com.example.smartparkpj.domain.MemberVO">-->
<!--        SELECT * FROM member ORDER BY del DESC, requestDate ASC-->
<!--    </select>-->

    <select id="selectAll" resultType="com.example.smartparkpj.domain.MemberVO">
        SELECT * FROM member ORDER BY CASE WHEN del = '탈퇴신청' THEN 1
                                           WHEN del = '탈퇴처리' THEN 2
                                           ELSE 3
                                          END;
    </select>

    <select id="selectOne" resultType="com.example.smartparkpj.domain.MemberVO">
        SELECT * FROM member WHERE mno = #{mno}
    </select>

    <update id="removeMember">
        UPDATE member SET password = "", nickName = "탈퇴처리", member_name = "탈퇴처리", phone = "탈퇴처리", birthday = "", profileimg = "", removeDate = now(), del = "탈퇴처리" WHERE email_id = #{email_id}
    </update>

    <select id="getWithRoles" resultType="com.example.smartparkpj.domain.MemberVO">
        SELECT * FROM member WHERE email_id = #{email_id} AND social = false
    </select>

</mapper>