<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smartparkpj.mapper.MyPageMapper">
    
    <select id="myOrder" resultType="com.example.smartparkpj.domain.OrderVO">
        SELECT * FROM `order` WHERE email_id = #{email_id} ORDER BY finished DESC, orderDate ASC
    </select>

    <select id="myReview" resultType="com.example.smartparkpj.domain.ReviewVO">
        SELECT * FROM `review` WHERE mno = #{mno} ORDER BY addDate DESC
    </select>

    <select id="myPageInformation" resultType="com.example.smartparkpj.domain.MemberVO">
        SELECT * FROM `member` WHERE mno = #{mno}
    </select>

    <select id="myPageInquiry" resultType="com.example.smartparkpj.domain.InquiryVO">
        SELECT * FROM `inquiry` WHERE mno = #{mno} ORDER BY in_addDate ASC
    </select>

</mapper>