<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smartparkpj.mapper.OrderMapper">

    <insert id="insert" parameterType="com.example.smartparkpj.domain.OrderVO" useGeneratedKeys="true" keyProperty="ono">
        INSERT INTO `order` (orderCode, tno, email_id, orderDate, startDate, endDate, people_count, price)
        VALUES
            (
                #{orderCode},
                #{tno},
                #{email_id},
                now(),
                #{startDate},
                #{endDate},
                #{people_count},
                #{price}
            )
    </insert>

    <select id="selectOneAll" resultType="com.example.smartparkpj.domain.OrderVO">
        select * from `order` where email_id = #{email_id}
    </select>

    <select id="updateFinished" resultType="com.example.smartparkpj.domain.OrderVO">
        UPDATE `order` SET finished = 0 WHERE email_id = #{email_id}
    </select>


    <select id="updateHasAbility" resultType="com.example.smartparkpj.domain.OrderVO">
        UPDATE `order` SET has_ability = 0 WHERE email_id = #{email_id}
    </select>

    <select id="selectOneMax" resultType="com.example.smartparkpj.domain.OrderVO">
        select * from `order` where ono = #{ono}
    </select>
</mapper>