<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smartparkpj.mapper.ReviewMapper">

    <select id="selectList" resultType="com.example.smartparkpj.domain.ReviewVO">
        SELECT r.*, m.nickName from `review` r INNER JOIN `member` m ON r.mno = m.mno WHERE facility_no = #{facility_no} AND type = #{type} order by rno desc LIMIT #{skip}, #{size}
    </select>

    <select id="getCount" resultType="int">
        select count(*) from `review`
    </select>

    <select id="insert" resultType="com.example.smartparkpj.domain.ReviewVO"><!-- 여기까 지함 -->
        INSERT into `review`(content, mno, addDate, score, facility_no, type)
        VALUES(#{content}, #{mno}, now(), #{score}, #{facility_no}, #{type})
    </select>

    <select id="selectOneType" resultType="com.example.smartparkpj.domain.ReviewVO">
        SELECT * FROM review order by rno desc LIMIT #{skip}, #{size}
    </select>

    <select id="setOne" resultType="com.example.smartparkpj.domain.MemberVO">
        SELECT * FROM member where email_id = #{email_id}
    </select>

    <select id="reviewScore" resultType="com.example.smartparkpj.domain.ReviewVO">
        SELECT score FROM review WHERE facility_no = #{facility_no} AND type = #{type}
    </select>

    <select id="delet" resultType="com.example.smartparkpj.domain.ReviewVO">
        DELETE from review WHERE rno = #{rno}
    </select>

    <select id="likeUp" resultType="com.example.smartparkpj.domain.ReviewVO">
        UPDATE review SET like_count = like_count + 1 WHERE rno = #{rno}
    </select>

    <select id="likeDown" resultType="com.example.smartparkpj.domain.ReviewVO">
        UPDATE review SET like_count = like_count - 1 WHERE rno = #{rno}
    </select>
</mapper>
