<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smartparkpj.mapper.TicketMapper">

    <select id="selectAll" resultType="com.example.smartparkpj.domain.TicketVO">
        select * from ticket order by tno asc
    </select>

    <select id="selectOne" resultType="com.example.smartparkpj.domain.TicketVO">
        select * from ticket where tno = #{tno}
    </select>

    <select id="delet" resultType="com.example.smartparkpj.domain.OrderVO">
        DELETE from ticket WHERE tno = #{tno}
    </select>

    <select id="insert" resultType="com.example.smartparkpj.domain.OrderVO">
        INSERT into ticket(tno, tname, tinfo, tprice, ticket_type, use_period)
        VALUES(#{tno}, #{tname}, #{tinfo}, #{tprice}, #{ticket_type}, #{use_period})
    </select>
</mapper>