<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/park.html}">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <title>회원정보</title>
    <style>
        /* 추가된 CSS */
        .nav-link:hover {
            background-color: #1c4827; /* 호버시 배경색 변경 */
        }
        /* 활성화된 메뉴 항목의 배경색과 텍스트 색상 변경 */
        .nav-link.active {
            background-color: #1c4827; /* 배경색 */
            color: white; /* 텍스트 색상 */
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <h1 style="margin-top: 50px; font-size: 30px"><strong>회원정보</strong></h1><br><br>
    <div class="row">
        <!-- 왼쪽 탭 -->
        <div class="col-md-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" th:href="|@{/admin/member/page/profile(mno =${memberDTO.mno})}|" data-toggle="pill">회원 정보</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="|@{/admin/member/page/review(mno =${memberDTO.mno})}|" data-toggle="pill">작성한 리뷰</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="|@{/admin/member/page/inquiry(mno =${memberDTO.mno})}|" data-toggle="pill">작성한 문의</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="|@{/admin/member/page/order(email_id =${memberDTO.email_id})}&mno=${memberDTO.mno}|" data-toggle="pill">티켓 구매 내역</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="|@{/admin/member/page/reason(mno =${memberDTO.mno})}|" data-toggle="pill">탈퇴 신청 사유</a>
                </li>
            </ul>
        </div>
        <!-- 오른쪽 컨텐츠 영역 -->
        <div class="row my-xl-12">
            <!-- 내 정보 -->
            <div class="col col-xl-12" style="width: 885px">
                <div class="card">
                    <div class="card-header" align="center">
                        <h3 style="margin-top: 20px;"><b>회원정보</b></h3>
                    </div>
                    <div class="card-body" align="center">
                        <!-- 내 정보 섹션 -->
                        <div class="sign-form">
                            <p th:for="member_name">이름
                                <input type="text" th:value="${memberDTO.member_name}" class="form-control" style="width: 250px" disabled>
                            </p>

                            <p th:for="birthday">생년월일
                                <input type="text" th:value="${memberDTO.birthday}" class="form-control" style="width: 250px" disabled>
                            </p>

                            <p th:for="nickName">닉네임
                                <input type="text" th:value="${memberDTO.nickName}" class="form-control" style="width: 250px" disabled>
                            </p>

                            <p th:for="email">이메일
                                <input type="text" th:value="${memberDTO.email_id}" class="form-control" style="width: 250px" disabled>
                            </p>

                            <p th:for="phone">연락처
                                <input type="text" th:value="${memberDTO.phone}" class="form-control" style="width: 250px" disabled>
                            </p>

                            <p th:for="addDate">가입날짜
                                <input type="text" th:value="${memberDTO.addDate}" class="form-control" style="width: 250px" disabled>
                            </p>

                            <p th:for="addDate">탈퇴날짜
                                <input type="text" th:value="${memberDTO.removeDate}" class="form-control" style="width: 250px" disabled>
                            </p>

                        </div>
                    </div>
                </div>
                <div class="sign-form" align="right">
                    <a href="/admin/member/management" type="reset" class="btn btn-primary ml-2">회원 목록</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 필요한 스크립트 -->
    <!-- ... -->
</div>
</body>
<script layout:fragment="script" th:inline="javascript">
    // 페이지 로드 시 실행되는 jQuery 코드
    $(document).ready(function() {
        // 네비게이션 메뉴의 각 탭을 클릭할 때 active 클래스를 변경하는 이벤트 핸들러
        $('.nav-link').on('click', function() {
            // 클릭된 요소의 href 값을 가져와 변수에 저장
            var href = $(this).attr('href');
            // 해당 탭에 active 클래스를 추가하고 다른 탭의 active 클래스를 제거
            $(this).addClass('active').parent().siblings().find('.nav-link').removeClass('active');
        });
    });
</script>
</html>